body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.frm__add{
  width: 1024px;
  margin: auto;
}
/* form{
  width: 1024px;
  margin: auto;
} */
ul{
  width: 1024px;
  margin: auto;
}
.btn__logout{
  margin-left: 200px;
}